.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  transition: $transition;

  &:not(.sticky) {
    .navbar {
      .navbar-brand {
        img {
          width: 118px;
        }
      }
    }
  }

  &.nav-up:not(.menu-open) {
    top: -86px;
    transition: top .5s ease;

    @media (max-width: 1199px) {
      top: -78px;
    }
    @include tablet {
      top: -68px;
    }
  }
  
  &.sticky {
    background-color: rgba(255, 255, 255, 0.9);

    .navbar {
      justify-content: space-between;
      padding: 15px 0;

      .navbar-nav .menu-item a {
        color: #174D79;
      }

      .navbar-brand {
        display: none;
      }
      .sticky-brand {
        display: inline-block;
        margin: 0 51px 0 7px;
        width: 150px;
      }
      .cta {
        opacity: 0;
      }

      @media (max-width: 992px) {
        .navbar-toggler {
          &:before,
          &:after {
            background: #174D79;
          }
        }

        .sticky-brand {
          display: inline-block;
          margin: 0 60px 0 0;
          width: 150px;
        }
      }

      @include tablet {
        padding: 10px 0;

        .sticky-brand {
          margin: 0;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    .navbar {
      justify-content: space-between;
    }

    .navbar-expand-lg {
      .navbar-collapse {
        flex-grow: initial;
      }
    }
  }

  .navbar {
    transition: $transition;
    padding: 30px 0;

    .navbar-brand,
    .sticky-brand {
      margin: 0 24px 0 46px;
      transition: $transition;
      width: 137px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .sticky-brand {
      display: none;
    }
    .sticky-brand-logo {
      display: none;
      width: 150px;
      height: auto;
      margin: 0 0 20px;
    }

    // Navbar menu
    .navbar-nav {
      margin-right: 50px;

      .menu-item {
        $tr-dur: .3s;

        padding: 0 30px;
        a {
          position: relative;
          padding: 12px 0;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          font-size: 16px;
          color: #fff;
          @include mobile {
            padding: 10px 0 !important;
          }

          perspective: 1000px;
          text-align: center;
          display: block;

          span {
            display: block;
            transition: all .6s;
            transform-style: preserve-3d;

            &:first-child {
              transform-origin: right center;
            }

            &:last-child {
              transform: rotateY(90deg);
              transform-origin: left center;
              margin-top: -19px;
              opacity: 0;
              @include mobile {
                margin-top: -28px;
              }
            }
          }

          &:hover {
            span:first-child {
              transform: rotateY(90deg);
              opacity: 0;
            }

            span:last-child {
              transform: rotateX(0deg);
              opacity: 1;
            }
          }

          &:hover,
          &.active {
            text-decoration: none;

            &:before {
              opacity: 1;
              transition: all $tr-dur;
            }

            &:after {
              width: 100%;
              transition: all $tr-dur $tr-dur;
            }
          }

          &:before {
            opacity: 0;
            content: '';
            display: block;
            position: absolute;
            height: 3px;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #50C6D2;
            transition: all $tr-dur $tr-dur;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: #FCEB46;
            transition: all $tr-dur;
          }
        }
      }
    }

    // Toggle button
    .navbar-toggler {
      $transitionSpeed: .25s;
      $transitionEasing: ease-in-out;

      border: none;
      cursor: pointer;
      outline: none;

      position: relative;
      z-index: 10005;

      background: transparent;
      color: #fff;
      font-size: 0;
      transition: all $transitionSpeed $transitionEasing;
      border-radius: 0;
      width: 22px;
      height: 30px;
      padding: 0;

      &:before {
        content: '';
        display: block;
        width: 22px;
        height: 2px;
        position: absolute;
        top: 10px;
        right: 0;
        background: #fff;
        transition: transform $transitionSpeed $transitionEasing;

        &:hover {
          color: lighten(#fff, 15%);
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: 17px;
        height: 2px;
        position: absolute;
        bottom: 10px;
        right: 0;
        background: #fff;
        transition: transform $transitionSpeed $transitionEasing;

        &:hover {
          color: lighten(#fff, 15%);
        }
      }

      &.is-active {
        border-color: transparent;

        &:before {
          transform: rotate(45deg);
          top: 14px;
          background-color: #1E1E1E;
        }

        &:after {
          width: 100%;
          transform: rotate(-45deg);
          bottom: 14px;
          background-color: #1E1E1E;
        }
      }
    }

    // CTA
    .cta {
      background-color: #174D79;
      display: flex;
      align-items: center;
      padding: 5px;
      border-radius: 45px;

      .phone {
        background-color: #FCEB46;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        img {
          width: 13px;
          height: auto;
        }
      }
      
      span {
        color: #fff;
        padding: 0 25px 0 20px;
      }
    }
    
    @media (max-width: 1199px) {
      .cta {
        display: none;
      }
    }

    // Navbar Collapse
    @media (max-width: 991px) {

      padding: 10px 0;

      .navbar-brand {
        margin: 0 0 0 41px;
      }

      .navbar-nav {
        margin: 0;
      }
      .sticky-brand-logo {
        display: inline-block;
      }

      .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0 25px;
        background-color: #fff;
        z-index: 10000;

        .menu-item {
          text-align: center;
          a {
            display: inline-block;
            padding: 3px 0 5px;
            color: #174D79;
            font-size: 23px;
            font-weight: 400;

            &:before,
            &:after {
              content: none;
            }
          }
        }
      }
      .cta {
        width: 225px;
        margin: 10px auto 0;
      }
    }
    @include mobile {
      .navbar-brand {
        opacity: 0;
      }
    }
  }
}