@import 'bootstrap-vars';

// Grid
$mq-sm: 480px;
$mq-md: 768px;
$mq-lg: 1024px;
$mq-xl: 1200px;

// Fonts
$main_ff: 'Montserrat', sans-serif;
$text-font: 'Roboto', sans-serif;

// Colors

$turquoise: #50C6D2;
$header-text: #131436;
$text: #323341;
$title-blog-color: #174D79;
$yellow-color: #FCEB46;
