input.form-control {
  padding: 17px 10px;
  line-height: 24px;
  font-size: 16px;
  transition: $transition;
  height: 59px;
  border: none;

  &.border-transparent {
    border-color: #fff;
  }

  &:focus {
    box-shadow: none;
  }

  &-sm {
    padding: 6px 14px;
    line-height: 24px;
    height: 40px;

    &:hover {
      //border-color: grey;
    }

    &:focus {
      //border-color: grey;
      box-shadow: none;
    }
  }
  @media (max-width: 992px) {
    height: 46px;
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    padding: 9px 14px;
    line-height: 24px;
  }
}


.group-field {
  display: flex;

  input.form-control,
  .btn {
    &:not(:first-child) {
      margin-left: -2px;

      &:not(:last-child) {
        border-radius: 0;
      }
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}