$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$df-building-path1: "\e912";
$df-building-path2: "\e913";
$df-building-path3: "\e914";
$df-building-path4: "\e915";
$df-building-path5: "\e916";
$df-building-path6: "\e917";
$df-tennis: "\e900";
$df-experience: "\e910";
$df-interview: "\e911";
$df-linkedin: "\e901";
$df-twitter1: "\e902";
$df-facebook1: "\e903";
$df-mail: "\e904";
$df-location: "\e905";
$df-angle-left: "\e906";
$df-angle-right: "\e90d";
$df-arrow-small: "\e907";
$df-arrow-down: "\e908";
$df-arrow-right: "\e90e";
$df-event_icon: "\e909";
$df-visitor_icon: "\e90a";
$df-job-search_icon: "\e90b";
$df-team_icon: "\e90f";
$df-work_icon: "\e90c";
$df-facebook: "\ea90";
$df-twitter: "\ea96";
$df-linkedin2: "\eaca";
$df-xing2: "\ead4";

